body
{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: "Yusei Magic", Arial, Helvetica, sans-serif;
}

/*NAV*/


img
{
    width: 100%;
}

.titre-selection
{
    margin-top: 4rem;
}
table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.material-icons-outlined
{
    color: lightcoral;
}

.reseau
{
    color: blue;
}



/*-------------loader--------------------------------*/

.loading
{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
     justify-content: center;
    align-items: center;
    z-index: 2;
    animation: load 3s forwards; 
    pointer-events: none; 
}
@keyframes load {
    0% {
      opacity: 1;  /*1*/
    }
    80% {
      opacity: 1; /*1*/
    }
    100% {
      opacity: 0;
    }
  }
  
#content
{animation: apparait 3.5s forwards;}  /*3.5*/
@keyframes apparait{
    0%{opacity: 0;}

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    }

.lettre
{
    font-size: 2rem;
    letter-spacing: 0.5rem;
    color: #484848;
    animation: flash 1.2s linear infinite;
     
}

@keyframes flash{
 0%{   color:#801E4C;
text-shadow: 0 0 1rem black;}

40%{
    color:blue;
    text-shadow: 0 0 1rem black;
}
70%{
    color:#801E4C;
    text-shadow: 0 0 1rem black;
}
100%{color:blue;
    text-shadow: 0 0 1rem black;}
}

.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}.lettre:nth-child(7){
    animation-delay: 0.7s;
}.lettre:nth-child(8){
    animation-delay: 0.8s;
}

