body
{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: "Yusei Magic", Arial, Helvetica, sans-serif;
}

/*NAV*/


img
{
    width: 100%;
}

.titre-selection
{
    margin-top: 4rem;
}
table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.material-icons-outlined
{
    color: lightcoral;
}

